<html>
    <body>
        <div>
            <form action="" method="POST" id="post-form">
                {% csrf_token %}

                <div>
                <label for="exampleInputEmail1">P</label>
                <input type="number" id="P" value="3">
                </div>

                <div>
                <label for="exampleInputEmail1">R</label>
                <input type="number" id="R" value="2">
                </div>
                <button type="submit">Submit</button>
                </div>
            </form>
        <p> {{ T }} </p>

    </body>
    </html>